version: 2
registries:
    npmjs:
        type: "npm-registry"
        url: "https://registry.npmjs.org"
        username: x-access-token
        password: ${{secrets.SBT_DEPENDENCY_GRAPH_TOKEN}}

updates:
  - package-ecosystem: "npm"
    directory: "/"
    registries:
      - npmjs
    schedule:
      interval: "daily" # Schedule updates to run daily
